<!-- <nav class="navbar navbar-default navbar-dark bg-dark">class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">MEAN Auth App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-link" routerLink="/">Home</a></li>
            </ul>

            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" routerLink="/login">Login</a></li>
                <li><a class="nav-link" routerLink="/register">Register</a></li>
            </ul>
        </div>

    </div>
</nav> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MEAN Auth App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="authService.loggedIn()">
              <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="authService.loggedIn()">
              <a class="nav-link" routerLink="/profile" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">Register</a>
            </li>
            <li class="nav-item" *ngIf="authService.loggedIn()">
                <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
              </li>
          </ul>
        </div>
      </nav>